pandas 
numpy
matplotlib 
seaborn
nltk
rouge-score
scikit-learn
bert-score
streamlit
sentence-transformers
transformers
torch
faiss-cpu
PyMuPDF 
pdf2image 
python-docx 
odfpy 
python-pptx 
Pillow 
pytesseract